<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motor de Calidad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfilador/perfilador.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/matriz/matriz.css') }}">
    <link rel="preload" as="image" href="{{ url_for('static', filename='img/perfilador/profile_data_icon.svg') }}">
    <link rel="preload" as="image" href="{{ url_for('static', filename='img/perfilador/balance_icon.svg') }}">
    <link rel="preload" as="image" href="{{ url_for('static', filename='img/perfilador/barchart_icon.svg') }}">
    <link rel="preload" as="image" href="{{ url_for('static', filename='img/perfilador/export_icon.svg') }}">
</head>
</head>
<body>
    <header>
        <h1>Qualizer</h1>
    </header>
    <main>
        <div id="popup-overlay" class="popup-overlay hidden">
            <div class="scale-up-center popup">
                <button class="popup-close" id="popup-close">✖</button>
                <div id="popup-content">
                    <!-- Contenido dinámico para cada criterio -->
                </div>
            </div>
        </div>
        <section class="sidebar">
            <div class="sidebar_option sidebar_option_perfilado">
                <div class="sidebar_option_iconhandler">
                    <img src="{{ url_for('static', filename='img/perfilador/profile_data_icon.svg') }}"  alt="icono perfilado"/>
                </div>
                <label>Perfilado de datos</label>
            </div>

            <div class="sidebar_separation_line">
                <div class="line"></div>
                <div class="stuff"></div>
            </div>

            <div class="sidebar_option sidebar_option_matriz">
                <div class="sidebar_option_iconhandler">
                    <img src="{{ url_for('static', filename='img/perfilador/balance_icon.svg') }}"  alt="icono matriz"/>
                </div>
                <label>Matriz de evaluación</label>
            </div>

            <div class="sidebar_separation_line">
                <div class="line"></div>
                <div class="stuff"></div>
            </div>

            <div class="sidebar_option sidebar_option_reportes">
                <div class="sidebar_option_iconhandler">
                    <img src="{{ url_for('static', filename='img/perfilador/barchart_icon.svg') }}"  alt="icono reportes"/>
                </div>
                <label>Reportes</label>
            </div>

            <div class="sidebar_separation_line">
                <div class="line"></div>
                <div class="stuff"></div>
            </div>

            <div class="sidebar_option sidebar_option_exportacion">
                <div class="sidebar_option_iconhandler">
                    <img src="{{ url_for('static', filename='img/perfilador/export_icon.svg') }}"  alt="icono exportación"/>
                </div>
                <label>Opciones de exportación</label>
            </div>

        </section>

        <section class="container">
            <section class="container_dbinfo">
                <div class="container_dbinfo_card">
                    <div class="dbinfo_card_icon">
                        <img src="{{ url_for('static', filename='img/perfilador/db_oracle_icon.png') }}" alt="icono_db"/>
                    </div>
                    <div class="db_info_card_data">
                        <label class="container_dbinfo_card_motor">Motor: <span class="db_info_card_value">Oracle XE</span></label>
                        <label class="container_dbinfo_card_usuario">Usuario: <span class="db_info_card_value">Some1</span></label>
                        <label class="container_dbinfo_card_version">Versión: <span class="db_info_card_value">V12.03</span></label>
                    </div>
                </div>
            </section>

            
            
            <form class="configuration_form">
                <section class="criteria_configuration_handler">
                    <h2>Criterios a exportar</h2>
                    <span>Seleccione los criterios que se desean exportar en el reporte</span>
                    <div class="criterio_option_exportation_container_handler">
                        
                        <input type="checkbox" id="criterio_exactitud" name="criterios" value="exactitud" hidden>
                        <label for="criterio_exactitud" class="criterio_option_exportation_container">
                            <div class="criterio_option_exportation_container_icon_container">
                                <img src="{{ url_for('static', filename='img/matriz/exactitud_icon.svg') }}" alt="Exactitud"/>
                            </div>
                            <span>Exactitud</span>
                        </label>
    
                        <input type="checkbox" id="criterio_completitud" name="criterios" value="completitud" hidden>
                        <label for="criterio_completitud" class="criterio_option_exportation_container">
                            <div class="criterio_option_exportation_container_icon_container">
                                <img src="{{ url_for('static', filename='img/matriz/completitud_icon.svg') }}" alt="Completitud"/>
                            </div>
                            <span>Completitud</span>
                        </label>
    
                        <input type="checkbox" id="criterio_consistencia" name="criterios" value="consistencia" hidden>
                        <label for="criterio_consistencia" class="criterio_option_exportation_container">
                            <div class="criterio_option_exportation_container_icon_container">
                                <img src="{{ url_for('static', filename='img/matriz/consistencia_icon.svg') }}" alt="Consistencia"/>
                            </div>
                            <span>Consistencia</span>
                        </label>
    
                        <input type="checkbox" id="criterio_usabilidad" name="criterios" value="usabilidad" hidden>
                        <label for="criterio_usabilidad" class="criterio_option_exportation_container">
                            <div class="criterio_option_exportation_container_icon_container">
                                <img src="{{ url_for('static', filename='img/matriz/usabilidad_icon.svg') }}" alt="Usabilidad"/>
                            </div>
                            <span>Usabilidad</span>
                        </label>
    
                        <input type="checkbox" id="criterio_validez" name="criterios" value="validez" hidden>
                        <label for="criterio_validez" class="criterio_option_exportation_container">
                            <div class="criterio_option_exportation_container_icon_container">
                                <img src="{{ url_for('static', filename='img/matriz/validez_icon.svg') }}" alt="Validez"/>
                            </div>
                            <span>Validez</span>
                        </label>
    
                    </div>
                </section>
                <div class="configuration_form_exportation">
                    <h2>Configuración de exportación</h2>
                    <span>Configura el reporte que vas a exportar</span>
                    <div class="configuration_form_text_input_handler">
                        <label>Ingresa el nombre del archivo que vas a exportar</label>
                        <input name="file_name" placeholder="Exportado (.csv,.pdf)"/>
                    </div>
                </div>

                <div class="Configuration_exportation_options_handler">
                    <input type="radio" id="pdf_option" name="tipo_reporte" value="pdf" hidden>
                    <label for="pdf_option" class="opcion_visual">
                        <img src="{{ url_for('static', filename='img/exportation/pdf_icon.svg') }}" alt="Reporte Detallado" />
                        <span>Exportar reporte en PDF</span>
                    </label>

                    <input type="radio" id="excel_option" name="tipo_reporte" value="excel" hidden>
                    <label for="excel_option" class="opcion_visual">
                        <img src="{{ url_for('static', filename='img/exportation/excel_icon.svg') }}" alt="Reporte Detallado" />
                        <span>Exportar reporte en Excel</span>
                    </label>
                </div>

                <div class="configuration_form_detalle">
                    <h2>Configuración de Detalle</h2>
                    <span>Elige el nivel de detalle del reporte</span>
                    <select>
                        <option>Selecciona algun valor</option>
                        <option value="full_report">Ver desglose por variable</option>
                        <option value="general_report">Ver resumen general</option>
                    </select>
                </div>

                <div class="configuration_form_metadata">
                    <h2>Configurar metadatos</h2>
                    <span>Selecciona algunos metadatos que ayudan en la trazabilidad del reporte</span>
                    <div class="configuration_form_option_container">
                        <input type="checkbox" id="fecha" name="metadatos" value="fecha">
                        <label for="fecha">📅 Incluir fecha de reporte</label>
                    </div>
    
                    <div class="configuration_form_option_container">
                        <input type="checkbox" id="usuario_bd" name="metadatos" value="usuario_bd">
                        <label for="usuario_bd">💽 Incluir usuario y nombre de base de datos</label>
                    </div>
    
                    <div class="configuration_form_option_container">
                        <input type="checkbox" id="evaluador" name="metadatos" value="evaluador">
                        <label for="evaluador">🥽 Incluir nombre del evaluador</label>
                    </div>
                </div>


            </form>
            
            <div class="button_handler">
                <button type="button" id="ejecutar_exportacion">Generar reporte</button>
            </div>

        </section>
    </main>

    <script src="{{url_for('static',filename='js/exportation/save_options.js')}}"></script>
</body>
</html>