<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motor de Calidad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfilador/perfilador.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/matriz/matriz.css') }}">
    <link rel="preload" as="image" href="{{ url_for('static', filename='img/perfilador/profile_data_icon.svg') }}">
    <link rel="preload" as="image" href="{{ url_for('static', filename='img/perfilador/balance_icon.svg') }}">
    <link rel="preload" as="image" href="{{ url_for('static', filename='img/perfilador/barchart_icon.svg') }}">
    <link rel="preload" as="image" href="{{ url_for('static', filename='img/perfilador/export_icon.svg') }}">
</head>
</head>
<body>
    <header>
        <h1>Qualizer</h1>
    </header>
    <main>
        <div id="popup-overlay" class="popup-overlay hidden">
            <div class="scale-up-center popup">
                <button class="popup-close" id="popup-close">✖</button>
                <div id="popup-content">
                    <!-- Contenido dinámico para cada criterio -->
                </div>
            </div>
        </div>
        <section class="sidebar">
            <div class="sidebar_option sidebar_option_perfilado">
                <div class="sidebar_option_iconhandler">
                    <img src="{{ url_for('static', filename='img/perfilador/profile_data_icon.svg') }}"  alt="icono perfilado"/>
                </div>
                <label>Perfilado de datos</label>
            </div>

            <div class="sidebar_separation_line">
                <div class="line"></div>
                <div class="stuff"></div>
            </div>

            <div class="sidebar_option sidebar_option_matriz">
                <div class="sidebar_option_iconhandler">
                    <img src="{{ url_for('static', filename='img/perfilador/balance_icon.svg') }}"  alt="icono matriz"/>
                </div>
                <label>Matriz de evaluación</label>
            </div>

            <div class="sidebar_separation_line">
                <div class="line"></div>
                <div class="stuff"></div>
            </div>

            <div class="sidebar_option sidebar_option_reportes">
                <div class="sidebar_option_iconhandler">
                    <img src="{{ url_for('static', filename='img/perfilador/barchart_icon.svg') }}"  alt="icono reportes"/>
                </div>
                <label>Reportes</label>
            </div>

            <div class="sidebar_separation_line">
                <div class="line"></div>
                <div class="stuff"></div>
            </div>

            <div class="sidebar_option sidebar_option_exportacion">
                <div class="sidebar_option_iconhandler">
                    <img src="{{ url_for('static', filename='img/perfilador/export_icon.svg') }}"  alt="icono exportación"/>
                </div>
                <label>Opciones de exportación</label>
            </div>

        </section>

        <section class="container">
            <section class="container_dbinfo">
                <div class="container_dbinfo_card">
                    <div class="dbinfo_card_icon">
                        <img src="{{ url_for('static', filename='img/perfilador/db_oracle_icon.png') }}" alt="icono_db"/>
                    </div>
                    <div class="db_info_card_data">
                        <label class="container_dbinfo_card_motor">Motor: <span class="db_info_card_value">Oracle XE</span></label>
                        <label class="container_dbinfo_card_usuario">Usuario: <span class="db_info_card_value">Some1</span></label>
                        <label class="container_dbinfo_card_version">Versión: <span class="db_info_card_value">V12.03</span></label>
                    </div>
                </div>
            </section>

            <section class="table_selector_container">
                <h2 class="container_header">Tabla seleccionada</h2>
                <section class="table_selector_cards_handler">
                    <div class="cards_handler_card" data-table-name="{{ table_info['name'] }}">
                        <div class="table_icon_handler">
                            <img src="{{ url_for('static', filename='img/perfilador/table_icon.svg') }}" alt="table_icon"/>
                        </div>
                        <div class="card_info">
                            <div>
                                <img src="{{ url_for('static', filename='img/perfilador/profiler_square.svg') }}" alt="name_icon"/>
                                <label>Nombre: <span>{{ table_info['nombre_tabla'] }}</span></label>
                            </div>
                            <div>
                                <img src="{{ url_for('static', filename='img/perfilador/profiler_column_icon.svg') }}" alt="column_icon"/>
                                <label>Columnas: <span>{{ table_info['numero_columnas'] }}</span></label>
                            </div>
                            <div>
                                <img src="{{ url_for('static', filename='img/perfilador/profiler_row_icon.svg') }}" alt="registro_icon"/>
                                <label>Registros: <span>{{ table_info['numero_filas'] }}</span></label>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
                
            <section>
                <h2 class="container_header">Configurar criterios de calidad</h2>

                <section class="table_selector_cards_handler">
                    <div class="scale-up-center card_criterio card_criterio--exactitud">
                        <div class="card_criterio_icono">
                            <img src="{{ url_for('static', filename='img/matriz/exactitud_icon.svg') }}"/>
                        </div>
                        <div class="card_criterio_info">
                            <label>Exactitud</label>
                            <label>Peso: <span id="criterio_peso_exactitud">-</span></label>
                        </div>
                        <button id="configurar_exactitud">Configurar criterio</button>
                    </div>
                    <div class="scale-up-center card_criterio card_criterio--validez">
                        <div class="card_criterio_icono">
                            <img src="{{ url_for('static', filename='img/matriz/validez_icon.svg') }}"/>
                        </div>
                        <div class="card_criterio_info">
                            <label>Validez</label>
                            <label>Peso: <span id="criterio_peso_validez">-</span></label>
                        </div>
                        <button id="configurar_validez">Configurar criterio</button>
                    </div>
                    
                    <div class="scale-up-center card_criterio card_criterio--usabilidad">
                        <div class="card_criterio_icono">
                            <img src="{{ url_for('static', filename='img/matriz/usabilidad_icon.svg') }}" />
                        </div>
                        <div class="card_criterio_info">
                            <label>Usabilidad</label>
                            <label>Peso: <span id="criterio_peso_usabilidad">-</span></label>
                        </div>
                        <button id="configurar_usabilidad">Configurar criterio</button>
                    </div>
                    
                    <!--
                    <div class="scale-up-center card_criterio card_criterio--interpretabilidad">
                        <div class="card_criterio_icono">
                            <img src="{{ url_for('static', filename='img/matriz/interpretabilidad_icon.svg') }}"/>
                        </div>
                        <div class="card_criterio_info">
                            <label>Interpretabilidad</label>
                            <label>Peso: <span id="criterio_peso_interpretabilidad">20%</span></label>
                        </div>
                        <button id="configurar_interpretabilidad">Configurar criterio</button>
                    </div>
                    -->
                    <!--
                    <div class="scale-up-center card_criterio card_criterio--fiabilidad">
                        <div class="card_criterio_icono">
                            <img src="{{ url_for('static', filename='img/matriz/fiabilidad_icon.svg') }}"/>
                        </div>
                        <div class="card_criterio_info">
                            <label>Fiabilidad</label>
                            <label>Peso: <span id="criterio_peso_fiabilidad">20%</span></label>
                        </div>
                        <button id="configurar_fiabilidad">Configurar criterio</button>
                    </div>
                    -->
                    <!--
                    <div class="scale-up-center card_criterio card_criterio--credibilidad">
                        <div class="card_criterio_icono">
                            <img src="{{ url_for('static', filename='img/matriz/credibilidad_icon.svg') }}"/>
                        </div>
                        <div class="card_criterio_info">
                            <label>Credibilidad</label>
                            <label>Peso: <span id="criterio_peso_credibilidad">20%</span></label>
                        </div>
                        <button id="configurar_credibilidad">Configurar criterio</button>
                    </div>
                    -->
                    
                    
                    <div class="scale-up-center card_criterio card_criterio--consistencia">
                        <div class="card_criterio_icono">
                            <img src="{{ url_for('static', filename='img/matriz/consistencia_icon.svg') }}"/>
                        </div>
                        <div class="card_criterio_info">
                            <label>Consistencia</label>
                            <label>Peso: <span id="criterio_peso_consistencia">20%</span></label>
                        </div>
                        <button id="configurar_consistencia">Configurar criterio</button>
                    </div>
                    
                    
                    <div class="scale-up-center card_criterio card_criterio--completitud">
                        <div class="card_criterio_icono">
                            <img src="{{ url_for('static', filename='img/matriz/completitud_icon.svg') }}"/>
                        </div>
                        <div class="card_criterio_info">
                            <label>Completitud</label>
                            <label>Peso: <span id="criterio_peso_completitud">-</span></label>
                        </div>
                        <button id="configurar_completitud">Configurar criterio</button>
                    </div>
                    
                </section>
            </section>


            <div class="button_handler">
                <button type="button" id="ejecutar_evaluacion">Ejecutar evaluación</button>
            </div>


        </section>
    </main>

    <script src="{{url_for('static',filename='js/matriz/popup_usabilidad.js')}}"></script>
    <script src="{{url_for('static',filename='js/matriz/popup_completitud.js')}}"></script>
    <script src="{{url_for('static',filename='js/matriz/popup_validez.js')}}"></script>
    <script src="{{url_for('static',filename='js/matriz/popup_exactitud.js')}}"></script>
    <script src="{{url_for('static',filename='js/matriz/popup_consistencia.js')}}"></script>
    <script src="{{url_for('static',filename='js/matriz/matriz_validacion.js')}}"></script>
    <script src="{{ url_for('static', filename='js/step_module.js') }}"></script>

    
    
    

</body>
</html>