:root{
    --background_sidebar_color : #252527;
    --background_sidebar_option : white;
    /*--background_sidebar_option_selected : #4F95F2;*/
    /*--background_sidebar_option_selected : #d9d9d9;*/
    --background_color : #1D1C1C;
    --font_color : #D9D9D9;
    --font_secondary_color : #d9d9d9;
    --background_sidebar_option_selected : #4F95F2;
}

header{
    background-color: var(--background_sidebar_color);
    margin: 0px;
    display: flex;
}

header h1{
  color: white;
  padding: 0px 20px;
  font-size: 40px;
}

body{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Poppins', sans-serif;
}

.sidebar_option_selected{
    background-color: var(--background_sidebar_option_selected)
}


.sidebar div img{
    width: 24px;
}

.sidebar{
    width: 25%;
    background-color: var(--background_sidebar_color);
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 10px;
    max-width: 180px;
    color: var(--font_color);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.sidebar_option{
    display: flex;
    gap: 15px;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    align-items: center;
}

.sidebar_option_iconhandler{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 100%;
    border: 2px solid var(--background_sidebar_option);
    min-width: 24px;
    min-height: 24px;

}

.sidebar_option_iconhandler img{
    filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(200deg) brightness(93%) contrast(89%);
}


.sidebar_separation_line{
    display: flex;
    padding: 0px 35px;
}

.line{
    height: 50px;
    background-color: white;
    width: 1px;
}

.stuff{
    width: 100%;
}

.step--completo{
  color: var(--background_sidebar_option_selected);
}

.step--completo .sidebar_option_iconhandler {
  border: 2.5px solid var(--background_sidebar_option_selected);
  background-color: var(--background_sidebar_option_selected);
}
.step--actual .sidebar_option_iconhandler{
  border: 2.5px solid var(--background_sidebar_option_selected);
}

/*
.step--pendiente {
  background-color: #F8D7DA;
  #border-left: 5px solid #dc3545;
}
*/

.line--completo {
  background-color: var(--background_sidebar_option_selected);
}
.line--pendiente {
  background-color: white;
}


.criteria_configuration_handler h2{
  color: white;
}

.criteria_configuration_handler span{
    color: var(--font_color);
}

.criterio_option_exportation_container_handler{
  display: flex;
  flex-flow: row;
  gap: 10px;
  flex-wrap: wrap;
}

.criterio_option_exportation_container{
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--background_sidebar_color);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.criterio_option_exportation_container_icon_container{
  width: 60px;
  box-sizing: border-box;
}

.criterio_option_exportation_container_icon_container img{
  width: 100%;
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(200deg) brightness(93%) contrast(89%);
}

.criteria_configuration_handler{
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 20px 0px;
}

.criteria_configuration_handler h2{
  margin: 0px;
}

.configuration_form select{
    background-color: var(--background_sidebar_color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
}

.configuration_form_detalle{
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px 0px;
}

.configuration_form_detalle span{
  color: var(--font_secondary_color);
}

.configuration_form_detalle h2{
  margin: 0px;
  color: white;
}

.criterio_option_exportation_container span{
  color: var(--font_color);
}

.configuration_form_metadata span{
  color: var(--font_color);
}

.configuration_form_metadata h2{
  color: white;
  margin: 0px;
}

.configuration_form_metadata{
  display: flex;
  flex-flow: column;
  gap : 10px;
  padding: 10px 0px;
}

.configuration_form_option_container{
  color:white;
}

#ejecutar_exportacion{
  background-color: var(--);
}

.criterio_option_exportation_container:hover{
  border : 1px solid #4F95F2;
  cursor: pointer;
}


.configuration_form_exportation{
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px 0px;
}

.configuration_form_exportation span{
  color: var(--font_secondary_color);
}

.configuration_form_exportation h2{
  margin: 0px;
  color: white;
}

.configuration_form_exportation{
  width: 50%;
}

.opcion_visual{
  display: flex;
  flex-flow: column;
  gap: 10px;
  background-color: var(--background_sidebar_color);
  width: 150px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  color: var(--font_color);
}

.opcion_visual img{
  width: 50px;
  filter: invert(96%) sepia(0%) saturate(0%) hue-rotate(200deg) brightness(93%) contrast(89%);
}

.opcion_visual:hover {
    cursor: pointer;
    border: 2px solid var(--background_sidebar_option_selected);
}



input[type="radio"]:checked + label.opcion_visual {
  border: 2px solid var(--background_sidebar_option_selected); /* Borde azul o el que uses en tu diseño */
  box-shadow: 0 0 8px rgba(26, 115, 232, 0.5); /* Efecto de foco */
  transition: all 0.3s ease;
}

.Configuration_exportation_options_handler{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 10px 0px;
  gap: 15px;
}

.Configuration_form_exportation h2{
  color: white;
  margin: 0px;
}

.Configuration_form_exportation{
  gap: 10px;
  color: #d9d9d9;
}

.configuration_form_text_input_handler{
  display: flex;
  flex-flow: column;
  gap: 10px;
  padding: 10px 0px;
  color: var(--font_color);
}

.configuration_form_text_input_handler input{
  color: white;
  padding: 10px;
  border: none;
  background-color: var(--background_sidebar_color);
}

.criterio_option_exportation_container:hover {
    cursor: pointer;
    border: 2px solid var(--background_sidebar_option_selected);
}

input[type="checkbox"]:checked + .criterio_option_exportation_container {
    border: 2px solid var(--background_sidebar_option_selected); /* Borde azul o el que uses en tu diseño */
    box-shadow: 0 0 8px rgba(26, 115, 232, 0.5); /* Efecto de foco */
    transition: all 0.3s ease;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  /* Roboto */
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }